button{
    width: 120px;
}

#button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    border: 2px solid black;
}